.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(0.3rem, 50%, 2rem);
  background-color: black;
  align-items: center;
  height: 300px;
}
h1{
  text-align: center;
  margin-bottom: 0px;
}
p{
  text-align: center;
  color: indigo;
  margin-block: 0px;
}
.input{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.qr-area{
  display: flex;
  flex-direction: column;
}
.input-area{
  background-color: transparent;
  padding: 1rem;
  border: 1px solid indigo;
}
button{
  margin-top: 10px;
  padding: 1rem;
  background-color: indigo;
  border: none;
}


@media (max-width:500px) {
  .container{
    height: 100vh;
    display: block;
    
  }
  .imput{
    padding-block: 2rem;
  }
  .qr-area{
    margin-inline: 3rem;
  }
}